h1
{
    border: 2px solid purple;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
h2
{
    border: 2px solid grey;
    padding-left: 0.5em;
    margin-top: 0.75em;
}
ul
{
    border: 2px solid greenyellow;
}
*
{
    margin-left: 10px;
    margin-right: 10px;
}
ul li:not(:first-child) {
    margin-top: 1em;
}