#contenedor1
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
    height: 100px;
    width: 600px;
    background-color: rgb(21, 231, 179);
    margin: 0 auto;
    margin-bottom: 50px;
}
#contenedor2
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-end;
    height: 100px;
    width: 600px;
    background-color: rgb(21, 231, 179);
    margin: 0 auto;
}
.contenido
{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 30px;
    width: 90px;
    background-color: rgb(231, 105, 21);
}