div{display: flex;}

.container1
{
  color: white;
  height: 100px;
  width: 600px;
  background-color:rgb(165, 134, 134);
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.container2
{
  margin: 20px;
  flex-grow: 1;
  flex-shrink: 1;
}

.container2 div
{
border: 1px solid white;
height: 50px;
background-color:goldenrod;
align-items: center;
justify-content: center;
flex-basis: 200px;
}

.container2 div:nth-child(1),
.container2 div:nth-child(2),
.container2 div:nth-child(3),
.container2 div:nth-child(4)
{
  flex-shrink: 0;
}

.container2 > div:nth-child(1){order: 1;}
.container2 > div:nth-child(2){order: 3;}

/* Parte2 */


.container3
{
  flex-flow: row wrap;
  color: white;
  height: 200px;
  width: 600px;
  background-color:rgb(43, 151, 142);
  align-items: center;
  align-content: center;
}
.container4{margin: 20px;}

.container4 div
{
border: 1px solid white;
height: 150px;
background-color:goldenrod;
flex-basis: 250px;
flex-grow: 1;
flex-shrink: 0;
}

.container4 div:nth-child(2)
{
  flex-shrink: 2;
}


 